html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.popup-container {
    position: fixed;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.show-popup {
    display: block;
}

.congrats-popup {
    width: 700px;
    height: 500px;
    top: 10%;
    margin: auto;
    background-color: white;
    position: relative;
    border-radius: 40px;
}

.congrats-popup h3 {
    font-size: 50px;
}

.retry {
    background-color: white;
    border: gray 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    animation-duration: 0.4s;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.mismatch {
    background-color: red;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .stars li .empty {
    color: gray;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .congrats-popup {
        width: 450px;
        height: 350px;
        font-size: 16px;
    }

    .congrats-popup h3 {
        font-size: 30px;
        margin: 10px;
    }

    .retry {
        font-size: 20px;
    }

    .deck {
        width: 500px;
        min-height: 520px;
        padding: 25px;
        margin: 0 0 2em;
    }

    .deck .card {
        width: 100px;
        height: 100px;
    }

    .deck .card.show {
        font-size: 25px;
    }

    .deck .card.match {
        font-size: 25px;
    }

    .score-panel {
        width: 100%;
        max-width: 300px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 575px) {
    .congrats-popup {
        width: 300px;
        height: 270px;
        font-size: 14px;
    }

    .retry {
        font-size: 16px;
    }

    .deck {
        width: 320px;
        min-height: 320px;
        padding: 20px;
        margin: 0 0 1.5em;
    }

    .deck .card {
        width: 65px;
        height: 65px;
    }

    .deck .card.show {
        font-size: 20px;
    }

    .deck .card.match {
        font-size: 20px;
    }
}